what's what/libgdal.a
what's what/libproj.a
what's what/libgdal_phone.a
what's what/libproj_phone.a
.DS_Store
what's what.xcodeproj/project.xcworkspace/xcuserdata/johnlawlor.xcuserdatad/UserInterfaceState.xcuserstate
